Repository kinde-oss/documentation, pull requests merged in 2025-05, with the labels that each got.

#398 Update marketing-tags-properties.mdx
  src/content/docs/properties/work-with-properties/marketing-tags-properties.mdx
Labels: improve documentation

#413 Remove references to a missing appendix in the privacy policy
  src/content/docs/trust-center/privacy-and-compliance/privacy-policy.mdx
Labels: security and privacy

#414 feat: start of expo guide
  src/components/TokenUtils.astro
  src/content/docs/developer-tools/about/our-sdks.mdx
  src/content/docs/developer-tools/sdks/native/expo-react-native.mdx
  src/content/docs/developer-tools/sdks/native/expo.mdx
  src/content/docs/developer-tools/sdks/native/react-native-sdk.mdx
  src/data/sdkList.ts
  src/data/tokenUtils.ts
Labels: sdk

#410 feat: refrence the management-api-js from TS SDK
  src/content/docs/developer-tools/sdks/backend/typescript-sdk.mdx
Labels: sdk
