Repository kinde-oss/documentation, pull requests merged in 2025-09, with the labels that each got.

#554 Updates to security wall of fame
  src/content/docs/trust-center/security/security-wall-of-fame.mdx
Labels: security and privacy

#551 WIP - Creating LLMS text files
  POST_BUILD_SCRIPTS.md
  package.json
  public/_llms-txt/authenticate.txt
  public/_llms-txt/billing.txt
  public/_llms-txt/build.txt
  public/_llms-txt/contribute.txt
  public/_llms-txt/design.txt
  public/_llms-txt/developer-tools.txt
  public/_llms-txt/get-started.txt
  public/_llms-txt/integrate.txt
  public/_llms-txt/machine-to-machine-applications.txt
  public/_llms-txt/manage-users.txt
  public/_llms-txt/manage-your-account.txt
  public/_llms-txt/manage-your-apis.txt
  public/_llms-txt/properties.txt
  public/_llms-txt/releases.txt
  public/_llms-txt/trust-center.txt
  public/_llms-txt/workflows.txt
  public/llms-abridged.txt
  public/llms-full.txt
  public/llms.txt
  scripts/generate-llms-txt-abridged.js
  scripts/generate-llms-txt-full.js
  scripts/generate-llms-txt-sections.js
Labels: enhancement

#573 Add small section for passing login hint and connection ID
  src/content/docs/developer-tools/sdks/backend/sveltekit-sdk.mdx
Labels: sdk
